---
import BentoCard from "../BentoCard.astro";
---

<BentoCard title="Academics">
    <p>
        At the <a href="https://twin-cities.umn.edu/">University of
        Minnesota</a>, I'm pursuing a bachelor's degree in computer science and
        plan to graduate in 2028.
    </p>
</BentoCard>