---
import BentoCard from "../BentoCard.astro";
---

<BentoCard colSpan="md:col-span-3" classes="text-lg">
    <p>
        Hey there! I'm <strong>Ben Soyka</strong>, an undergraduate student with
        a strange range of interests.
    </p>
</BentoCard>