---
import BentoCard from "../BentoCard.astro";
---

<BentoCard classes="text-sm">
    <ul>
        <li>&copy; 2025 Ben Soyka. Some rights reserved.</li>
        <li><a href="https://bsoyka.me/privacy">Privacy policy</a></li>
        <li><a href="https://gh.bsoyka.me/website">Website source</a></li>
        <li><a href="mailto:hello@bsoyka.me">Email me</a></li>
    </ul>
</BentoCard>