---
import BentoCard from "../BentoCard.astro";

interface Props {
    colSpan?: string;
    classes?: string;
}

const { colSpan, classes = "text-sm" } = Astro.props;
---

<BentoCard classes={classes} colSpan={colSpan}>
    <ul>
        <li>&copy; 2026 Ben Soyka. Some rights reserved.</li>
        <li><a href="https://bensoyka.com/privacy">Privacy policy</a></li>
        <li><a href="https://gh.bsoyka.me/website">Website source</a></li>
        <li><a href="mailto:ben@bensoyka.com">Email me</a></li>
    </ul>
</BentoCard>
