---
import BentoCard from "../BentoCard.astro";
---

<BentoCard title="Photography" rowSpan="md:row-span-2">
    <p>
        I run a small photography business—you can see more at <a
            href="https://photos.bsoyka.me">photos.bsoyka.me</a>.
    </p>
</BentoCard>