---
import BentoCard from "../BentoCard.astro";
---

<BentoCard title="Photography">
    <p>
        I run a small photography business—you can see more at <a
            href="https://soyka.photos">soyka.photos</a
        >.
    </p>
    <p>
        Download free photos I've taken on <a
            href="https://unsplash.com/@bsoyka">Unsplash</a
        >!
    </p>
</BentoCard>
