---
import BentoCard from "../BentoCard.astro";
---

<BentoCard title="Programming" rowSpan="md:row-span-2 lg:row-span-1">
    <p>
        I've been writing code since I was 6 years old! You can find what I've
        been up to lately on <a href="https://github.com/bsoyka">GitHub</a>.
    </p>
</BentoCard>
