---
import BentoCard from "../BentoCard.astro";
---

<BentoCard title="Community Involvement" rowSpan="md:row-span-2">
    <p>I like to help out in the world, both in person and online!</p>
    <p>
        This year, I'm the president of the <a
            href="https://gopherlink.umn.edu/4567/home/"
            >Twin Cities Rotaract Club</a
        >, a community service organization affiliated with Rotary
        International. (I'm also involved in several other organizations at
        UMN!)
    </p>
    <p>
        Online, I'm a trained volunteer counselor for the <a
            href="https://www.crisistextline.org/">Crisis Text Line</a
        >. <a href="sms:741741">Text 741-741</a> or use one of the many other <a
            href="/resources">resources</a
        > out there if you need mental health support.
    </p>
</BentoCard>
