---
import BentoCard from "../BentoCard.astro";
---

<BentoCard title="Writing">
    <p>
        You can find some of my work published on <a
            href="https://medium.bsoyka.me">Medium</a
        >. There's not much rhyme or reason to what I share there—just whatever
        comes to mind.
    </p>
</BentoCard>
