---
import BentoCard from "../BentoCard.astro";
---

<BentoCard title="Writing">
    <p>
        You can find some of my work published on <a
            href="https://medium.bsoyka.me">Medium</a
        >.
    </p>
</BentoCard>
