---
import Layout from '../layouts/Layout.astro';
import BentoCard from '../components/BentoCard.astro'
---

<Layout>
    <div class="p-6 grid grid-cols-1 grid-gap-4 md:grid-cols-3 lg:grid-cols-4">
        <BentoCard colSpan="md:col-span-3">
            Intro
        </BentoCard>
        <BentoCard rowSpan="md:row-span-2 lg:row-span-1">
            Computer science
        </BentoCard>
        <BentoCard rowSpan="md:row-span-2">
            Photography
        </BentoCard>
        <BentoCard>
            Volunteering
        </BentoCard>
        <BentoCard>
            Academics
        </BentoCard>
        <BentoCard>
            Writing
        </BentoCard>
        <BentoCard colSpan="lg:col-span-2">
            Fun facts
        </BentoCard>
        <BentoCard>
            Legal
        </BentoCard>
    </div>

</Layout>