---
import Layout from '../layouts/Layout.astro';
import BentoCard from "../components/BentoCard.astro";
import LegalCard from "../components/cards/LegalCard.astro";
---

<Layout>
    <div class="max-w-xl mx-auto p-3 md:p-6 grid grid-cols-1 grid-gap-4 md:grid-cols-2"
         id="cards">
        <BentoCard classes="text-lg bold" colSpan="md:col-span-2">
            <strong>
                Hello! I try to be flexible with payment methods, in case you need to send me money.
            </strong>
        </BentoCard>

        <LegalCard colSpan="md:col-span-2" />
    </div>
</Layout>