---
import Layout from "../layouts/Layout.astro";
import BentoCard from "../components/BentoCard.astro";
import LegalCard from "../components/cards/LegalCard.astro";
import PaymentMethodCard from "../components/PaymentMethodCard.astro";
import photographyIcon from "../assets/photography-icon.svg";
import rotaractLogo from "../assets/rotaract-logo.svg";
import CardAnimation from "../components/CardAnimation.svelte";
---

<Layout>
    <div
        class="max-w-xl mx-auto p-3 md:p-6 grid grid-cols-1 gap-4 md:grid-cols-2"
        id="cards"
        data-animate-cards
    >
        <BentoCard classes="text-lg" colSpan="md:col-span-2">
            <strong>Hello! I try to be flexible with payment methods.</strong>
            First, please select what you're trying to pay for.
        </BentoCard>

        <PaymentMethodCard
            link="/pay/photo"
            image={photographyIcon}
            title="Ben Soyka Photography"
        />

        <PaymentMethodCard
            link="/pay/tcrc"
            image={rotaractLogo}
            title="TCRotaract Club"
        >
            <p class="text-sm text-gray-600">Dues and donations</p>
        </PaymentMethodCard>

        <PaymentMethodCard
            link="https://github.com/sponsors/bsoyka"
            title="Open source donations"
        >
            <p class="text-sm text-gray-600">Via GitHub Sponsors</p>
        </PaymentMethodCard>

        <PaymentMethodCard link="/pay/personal" title="Something else">
            <p class="text-sm text-gray-600">All other personal payments</p>
        </PaymentMethodCard>

        <LegalCard colSpan="md:col-span-2" />
    </div>
</Layout>
<CardAnimation client:load />
