<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include navbar.html %}

    {{ content }}

    <footer>
        <div id="social-links">
            <a href="https://mstdn.social/@bsoyka" rel="me" class="social-link"
                title="Mastodon">
                <i class="uim uim-chat"></i>
            </a>
            <a href="/twitter" class="social-link" title="Twitter">
                <i class="uim uim-twitter"></i>
            </a>
            <a href="/github" class="social-link" title="GitHub">
                <i class="uim uim-github"></i>
            </a>
            <a href="/medium" class="social-link" title="Medium">
                <i class="uim uim-medium-m"></i>
            </a>
            <a href="/key.txt" class="social-link" title="PGP Key">
                <i class="uim uim-key-skeleton"></i>
            </a>
        </div>

        &copy; {{ site.time | date: '%Y' }} Ben Soyka, All Rights Reserved
        <br />
        <a href="/privacy">Privacy Policy</a>
    </footer>

    <script>
        function getAge(dateString) {
            // CC-BY-SA 3.0, naveen, https://stackoverflow.com/a/7091965/9549259
            var today = new Date();
            var birthDate = new Date(dateString);
            var age = today.getFullYear() - birthDate.getFullYear();
            var m = today.getMonth() - birthDate.getMonth();
            if (
                m < 0 ||
                (m === 0 && today.getDate() < birthDate.getDate())
            ) {
                age--;
            }
            return age;
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            var age = getAge("June 24, 2006");
            document.getElementById("age").innerHTML = age;
        });

        function toggleHeaderLinks() {
            var toggle = document.getElementById("header-toggle");
            var links = document.getElementById("header-links");
            if (links.style.opacity == 0) {
                links.style.opacity = "1";
                links.style.height = "auto";
                links.style.transform = "scaleY(1)";

                toggle.style.transform = "rotate(180deg)";
            } else {
                links.style.opacity = "0";
                links.style.height = "0";
                links.style.transform = "scaleY(0)";

                toggle.style.transform = "";
            }
        }
    </script>

    <!-- Privacy-friendly analytics -->
    <script data-host="https://microanalytics.io" data-dnt="true"
        src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async
        defer></script>

    <!-- Micro-tipping -->
    <script async
        src="https://zink.tips/zwc.js?rid=62726851a6b1ff278b168e3c&c=purple"></script>
</body>

</html>