<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="generator" content={Astro.generator}/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ben Soyka</title>
    <script is:inline data-goatcounter="https://bsoyka.goatcounter.com/count" async
            src="//gc.zgo.at/count.js"></script>
</head>
<body class="bg-light color-dark">
<slot />
</body>
</html>